<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyAmplifyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartStorageOrganizer"
        tools:targetApi="31">
        <activity
            android:name=".GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".AddOrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".DevelopersActivity"
            android:exported="false" />
        <activity
            android:name=".ViewUnitItemsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewUnitsActivity"
            android:exported="false" />
        <activity
            android:name=".EditItemActivity"
            android:exported="false" />
        <activity
            android:name=".UncategorizedItemsActivity"
            android:exported="false" />
        <activity
            android:name=".UsersActivity"
            android:exported="false" />
        <activity
            android:name=".RequestsActivity"
            android:exported="false" />
        <activity
            android:name=".SearchOrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".LandingActivity"
            android:exported="false" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".ValidateUserActivity"
            android:exported="false" />
        <activity
            android:name=".DesignActivity"
            android:exported="false" />
        <activity
            android:name=".ItemDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartStorageOrganizer" />
        <activity
            android:name=".CodeScannerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartStorageOrganizer" />
        <activity
            android:name=".ViewColorCodesActivity"
            android:exported="false" />
        <activity
            android:name=".AddColorCodeActivity"
            android:exported="false" />
        <activity
            android:name=".NewPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartStorageOrganizer" />
        <activity
            android:name=".ResetPasswordVerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartStorageOrganizer" />
        <activity
            android:name=".ManualActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".ViewItemActivity"
            android:exported="false" />
        <activity
            android:name=".UnitActivity"
            android:exported="false" />
        <activity
            android:name=".AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ItemInfoActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartStorageOrganizer.NoActionBar" />
        <activity
            android:name=".EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>